.main-page__about-content {
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-image: url("/public/images/about/about-bg.jpg");
    background-attachment: fixed;
}
.about-content__title {
    font-size: 35px;
    color: white;
    text-align: center;
    font-family: sans-serif;

}
.about-content__about-description {
    padding: 0 3em;
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-top: 5em;
}
.about-description__text {
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    letter-spacing: 1px;
}
.about-description__first-text {
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 20px;
}
.about-description__image {
    position: relative;
}
.about-description__image img {
    position: absolute;
    top: 45px;
    width: 720px;
}

@media (max-width: 768px) {
    .about-description__first-text{
        font-size: 15px;
    }
    .about-description__image img {
        width: 300px;
        height: 200px;
    }
    .about-content__about-description {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 260px auto auto;
    }
}
@media (max-width: 425px) {
    .about-description__image img {
        width: 240px;
        height: auto;
    }
}